<!DOCTYPE html>
<html lang="ru">
	{% include "../includes/head.twig" %}
	<body>


		{% include "../includes/header/header.twig" %}
		<div class="page-wrapper">
			<div id="pagepiling"> {% block content %}{% endblock %}
				{% include "../includes/footer.twig" %}
			</div>
		</div>

		{% include "../includes/components/modals.twig" %}

		{% include "../includes/scripts.twig" %}


	</body>
</html>
