@font-face {
  font-family: "2MASSJ1808-Heavy";
  src: url("../fonts/2mass/2MASSJ1808-Heavy.woff") format("woff"),
    url("../fonts/2mass/2MASSJ1808-Heavy.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/graphik/GraphikLCG-Regular.woff") format("woff"),
    url("../fonts/graphik/GraphikLCG-Regular.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "GraphikLCG";
  src: url("../fonts/graphik/GraphikLCG-Medium.woff") format("woff"),
    url("../fonts/graphik/GraphikLCG-Medium.woff2") format("woff2"); 
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
