.header {
	position: relative;
	padding-top: 120px;
	padding-bottom: 50px;
	background-image: linear-gradient(to bottom, rgba(0, 24, 64, 0.7) 100%),
		url("../img/media/header-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0, 0 center;
	min-height: 100vh;
	@media (min-width: $mob-xs) {
		padding-top: 10px;
	}
	@media (min-width: $desk-w) {
		padding-top: 160px;
	}
	@media (min-width: 1400px) {
		padding-top: 240px;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: $darkBlue;
		opacity: 0.7;
		z-index: -1;
	}
}

.header-fixed {
	position: relative;
	width: 100%;
	padding: 0 25px;
	max-width: 1410px;
	z-index: 700;
	@media (min-width: $mob-xs) {
		margin-bottom: 15px;
	}
	@media (min-width: $tablet-w) {
		margin-bottom: 40px;
	}
	@media (min-width: $desk-w) {
		transform: translateX(-50%) translateY(-100%);
		position: fixed;
		top: 0;
		left: 50%;
		margin-bottom: 0;
		transition: transform 0.75s ease;
		&.visible {
			transform: translateX(-50%) translateY(0);
		}
	}
	&__inner {
		display: flex;
		align-items: center;
		width: 100%;
		height: 98px;
	}
}

.top-bar {
	display: flex;
	align-items: center;
	margin-left: auto;
	& > a {
		margin-left: 60px;
		color: $white;
		&:first-child {
			margin-left: 0;
		}
	}
}

.logo {
	display: block;
	max-width: 200px;
}
