h1,
h2,
h3,
h4,
h5,
.title-h1,
.title-h2,
.title-h3,
.title-h4,
.title-h5 {
	font-family: $titleFont;
	text-transform: uppercase;
}

h1,
.title-h1 {
	margin-bottom: 80px;
	font-size: 23px;
	line-height: 30px;
	@media (min-width: $tablet-w) {
		font-size: 44px;
		line-height: 50px;
	}
	@media (min-width: $desk-w) {
		font-size: 60px;
		line-height: 68px;
	}
	@media (min-width: $desk-w-lg) {
		font-size: 72px;
		line-height: 80px;
	}
}

h2,
.title-h2 {
	font-size: 24px;
	line-height: 30px;

	@media (min-width: $mob-xs) {
		word-break: break-word;
	}
	@media (min-width: $tablet-w) {
		font-size: 44px;
		line-height: 56px;
		word-break: normal;
	}
	@media (min-width: $desk-w-lg) {
		font-size: 64px;
		line-height: 72px;
	}
}

h3,
.title-h3 {
	font-size: 52px;
	line-height: 64px;
}

h4,
.title-h4 {
	font-size: 24px;
	line-height: 30px;
	@media (min-width: $tablet-w) {
		font-size: 36px;
		line-height: 48px;
	}
}

h5,
.title-h5 {
	font-size: 18px;
	line-height: 22px;
}

.subtext {
	font-size: 18px;
	line-height: 21px;
	color: $gray;
}
