@supports (-webkit-text-stroke: 1px #fff) {
	.text-stroke-white {
		color: transparent;
		-webkit-text-stroke: 1px #fff;
	}

	.text-stroke-blue {
		color: transparent;
		-webkit-text-stroke: 1px $blue;
	}
}

.section-padding {
	@media (min-width: $mob-xs) {
		padding: 40px 0;
	}
	@media (min-width: $tablet-w) {
		padding: 100px 0 65px;
	}
	@media (min-width: $desk-w) {
		padding: 160px 0 65px;
	}
}

.white {
	color: $white;
}

.blue {
	color: $blue;
}
.white-section {
	padding-bottom: 20px;
	padding-top: 120px;
	@media (min-width: $mob-s) {
		padding-bottom: 60px;
		padding-top: 120px;
	}
	@media (min-width: $tablet-w) {
		padding-bottom: 90px;
	}
	@media (min-width: $desk-w) {
		padding-bottom: 160px;
		padding-top: 160px;
	}
}

.blue-section {
	background: $blue;
	padding: 120px 0 20px;
	@media (min-width: $mob-s) {
		padding: 120px 0 60px;
	}
	@media (min-width: $tablet-w) {
		padding: 120px 0 90px;
	}
	@media (min-width: $desk-w) {
		padding: 160px 0 110px;
	}
}
