$mob-xs: 0px;
$mob-s: 640px;
$tablet-w: 960px;
$desk-w: 1200px;

$mainFont: "GraphikLCG";
$titleFont: "2MASSJ1808-Heavy";
$fontSize: 21px;
$lineHeight: 26px;

$blue: #0365DF;
$lightBlue: #7ABCF0;
$darkBlue: #001840;
$white: #ffffff;
$bgBlue: #09194E;
$bg: #E4EEF5;
$gray: #4B71A0;

$containerWidth: 1180px;
$containerWidthLg: 1410px;
