<ul uk-accordion>
	<li class="uk-open">
		<a class="uk-accordion-title" href="#">Кто может летать?</a>
		<div class="uk-accordion-content">
			Все желающие, включая детей в возрасте от 3-х до 14-ти лет! Мы предоставляем 
									отдельное кресло каждому ребенку после получения согласия родителей на осуществление полета.
		</div>
	</li>
	<li>
		<a class="uk-accordion-title" href="#">Когда летаем?</a>
		<div class="uk-accordion-content">
			Все желающие, включая детей в возрасте от 3-х до 14-ти лет! Мы предоставляем 
																													отдельное кресло каждому ребенку после получения согласия родителей на осуществление 
																													полета.
		</div>
	</li>
	<li>
		<a class="uk-accordion-title" href="#">Что можно брать с собой в полет?</a>
		<div class="uk-accordion-content">
			Все желающие, включая детей в возрасте от 3-х до 14-ти лет! Мы предоставляем 
																													отдельное кресло каждому ребенку после получения согласия родителей на осуществление 
																													полета.
		</div>
	</li>
	<li>
		<a class="uk-accordion-title" href="#">Можно ли фотографировать и снимать видео?</a>
		<div class="uk-accordion-content">
			Все желающие, включая детей в возрасте от 3-х до 14-ти лет! Мы предоставляем 
																													отдельное кресло каждому ребенку после получения согласия родителей на осуществление 
																													полета.
		</div>
	</li>
</ul>
