<section class="comments-slider">
	<div class="uk-container">
		<div class="slider">
			{% for item in 0..1 %}
				<div class="slide">
					<div class="slide__img">
						<img data-lazy="img/media/sliders/comment-slide-1.png" alt="">
					</div>
					<div class="slide__author">Андрей, 29 лет и Анна, 24 года</div>
					<div class="slide__message">
						Дарите впечатления, а не вещи ― подарочный сертификат на полет на самолете. 
																Воздушная экскурсия гарантирует новые яркие впечатления, а московские городские 
																пейзажи с высоты никогда не забудутся виновнику торжества. Вы навсегда останетесь 
																в его сердце как человек, подаривший небо!
					</div>
				</div>

				<div class="slide">
					<div class="slide__img">
						<img data-lazy="img/media/sliders/comment-slide-2.png" alt="">
					</div>
					<div class="slide__author">Андрей, 29 лет и Анна, 24 года</div>
					<div class="slide__message">
						Дарите впечатления, а не вещи ― подарочный сертификат на полет на самолете. 
																Воздушная экскурсия гарантирует новые яркие впечатления, а московские городские 
																пейзажи с высоты никогда не забудутся виновнику торжества. Вы навсегда останетесь 
																в его сердце как человек, подаривший небо!
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
