<section class="comments-section blue-section">
	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-3-4@m">
				<div class="title-h2 white">
					<span class="text-stroke-white">что</span>
					говорят
					<span class="text-stroke-white">клиенты</span>
				</div>
			</div>
		</div>
	</div>

	{% include "./comments-slider.twig" %}

	<div class="uk-container">
		<a href="#sign-up-form" class="btn btn--full btn--white uk-visible@m" uk-toggle>купить подарочный сертификат</a>
		<a href="#sign-up-form" class="btn btn--full btn--white uk-hidden@m" uk-toggle>подарочный сертификат</a>
	</div>
</section>
