<section id="about" class="section section-1 pp-scrollable hero-section">
	<div class="hero-section__inner">
		{% include "../components/video-banner.twig" %}
		{% include "../components/top-banner.twig" %}
	</div>
</section>
