<section class="instagram-section">
	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-3-5@s">
				<div class="title-h4 blue">Подписывайтесь на наш instagram</div>
			</div>
			<div class="uk-width-2-5@s">
				<div class="link-wrapper">
					<a href="" class="inst-link-subscribe">@abn.gidrosamolet</a>
				</div>
			</div>
		</div>
	</div>

	<div class="inst-list">
		<div class="uk-container uk-container--xlg">
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-1-2 uk-width-1-4@m">
					<a href="" class="inst-list__item"><img data-src="img/media/inst-1.png" alt="inst" class="lazy"></a>
				</div>
				<div class="uk-width-1-1 uk-width-2-4@m mobile-last">
					<a href="" class="inst-list__item inst-list__item--full-width"><img data-src="img/media/inst-2.png" alt="inst" class="lazy"></a>
				</div>
				<div class="uk-width-1-2 uk-width-1-4@m">
					<a href="" class="inst-list__item"><img data-src="img/media/inst-3.png" alt="inst" class="lazy"></a>
				</div>
			</div>

			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-1-1 uk-width-2-4@m mobile-last">
					<a href="" class="inst-list__item inst-list__item--full-width"><img data-src="img/media/inst-4.png" alt="inst" class="lazy"></a>
				</div>
				<div class="uk-width-1-2 uk-width-1-4@m">
					<a href="" class="inst-list__item"><img data-src="img/media/inst-5.png" alt="inst" class="lazy"></a>
				</div>
				<div class="uk-width-1-2 uk-width-1-4@m">
					<a href="" class="inst-list__item"><img data-src="img/media/inst-6.png" alt="inst" class="lazy"></a>
				</div>
			</div>
		</div>
	</div>
</section>
