<section class="map-section">
	<div class="uk-container uk-container--xlg">
		<div class="uk-grid uk-grid-collapse">
			<div class="uk-width-1-2@l">
				<div class="map-container">
					<img data-src="img/media/map.png" alt="" class="lazy">
				</div>
			</div>
			<div class="uk-width-1-2@l">
				<div class="map-section__desc">
					<div class="title-h4 white">Организатор мероприятия – аэроклуб АБН АЭРО</div>
					<a href="">WWW.ABN.AERO</a>
					<div class="map-section__text">
						Аэроклубу АБН АЭРО уже более 7 лет. За это время в нем познакомились с авиацией, 
																																				получили знания, летную подготовку и приобщились к полетам сотни людей самых разных 
																																				возрастов.  Среди членов нашего клуба – чемпионы мира по высшему пилотажу, заслуженные 
																																				военные летчики и штурманы, авторы учебных пособий по теоретическим основам 
																																				пилотирования самолетов
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
