<div id="sign-up-modal" class="default-modal" uk-modal>
	<div class="uk-modal-dialog">
		<div class="uk-modal-header">
			<div class="uk-container uk-container--lg">
				<div class="uk-flex uk-flex-middle uk-flex-between">
					<a href="/" class="logo uk-visible@m">
						<img src="img/logo.svg" alt="АБН АЭРО">
					</a>
					<div class="top-bar">
						<a href="tel:+79857656664" class="top-bar__tel">+7 (985) 765-66-64</a>
						<a href="" uk-close class="btn-menu uk-modal-close-default active">
							<span class="btn-menu__burger">
								<span class="line line--one"></span>
								<span class="line line--two"></span>
							</span>
							<div class="btn-menu__text">закрыть</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-modal-body">
			<div class="uk-container uk-container--sm">
				<h2 class="uk-modal-title title-h2 white">Записаться
					<span class="text-stroke-white">на полет</span>
				</h2>
				<form action="" method="post" class="default-form sign-up-form">
					<div class="uk-grid">
						<div class="uk-width-1-2@s">
							<div class="label-wrapper">
								<label for="user-name">Ваше имя</label>
								<input type="text" name="user-name">
							</div>
						</div>
						<div class="uk-width-1-2@s">
							<div class="label-wrapper">
								<label for="user-tel">Номер телефона</label>
								<input type="text" name="user-tel" class="js__input-phone">
							</div>
						</div>
						<div class="uk-width-1-1">
							<button type="submit" class="btn btn--full btn--transparent">Заказать полет</button>
						</div>
					</div>
				</form>
				<div class="form-politics">
					Нажимая на кнопку Заказать полет, я даю согласие на обработку
					<a href="">персональных данных</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="success-modal" class="default-modal" uk-modal>
	<div class="uk-modal-dialog">
		<div class="uk-modal-header">
			<div class="uk-container uk-container--lg">
				<div class="uk-flex uk-flex-middle uk-flex-between">
					<a href="/" class="logo uk-visible@m">
						<img src="img/logo.svg" alt="АБН АЭРО">
					</a>
					<div class="top-bar">
						<a href="tel:+79857656664" class="top-bar__tel">+7 (985) 765-66-64</a>
						<a href="" uk-close class="btn-menu uk-modal-close-default active">
							<span class="btn-menu__burger">
								<span class="line line--one"></span>
								<span class="line line--two"></span>
							</span>
							<div class="btn-menu__text">закрыть</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-modal-body">
			<div class="uk-container uk-container--sm">
				<div class="uk-text">
					<p>
						Мы свяжемся с вами и договоримся о времени полета. 
																												Полеты планируются по субботам при условии летной погоды. 
																												Памятные фотографии о вашем необычном путешествии пришлем на указанную вами электронную 
																												почту или WhatsApp.
					</p>
				</div>
				<a href="" class="uk-modal-close-default btn btn--transparent btn--white" uk-close>Хорошо, буду ждать</a>
			</div>
		</div>
	</div>
</div>
