<!-- begin plain-section -->
<section id="plain" class="plain-section">
	<div class="uk-container uk-container--sm">
		<div class="plain-img" uk-scrollspy="cls: fly; delay: 300">
			<img src="img/media/gidro.svg" alt="самолет">
		</div>

		<div class="title-h2 blue">гидросамолет Lake Renegade 250</div>
		<div class="text">
			<p>
				Легкомоторный самолёт-амфибия, разработанный и выпускаемый американской авиастроительной компанией «Lake Aircraft» с 1982 года.
			</p>
			<p>
				Увеличенная вместимость, повышенные летные характеристики и другие преимущества самолетов серии 
															Renegade сразу привлекли внимание широкого круга специалистов и эксплуатантов. В итоге данные самолеты 
															использовались как поисково-спасательные, медико-эвакуационные, для обеспечения деятельности рыбопромысловых 
															компаний, патрулирования рек и дамб и даже для обследования линий электропередач.​​​​​​​
			</p>
		</div>

		<div class="about-pilot">
			<div class="uk-grid">
				<div class="uk-width-1-2@s">
					<div class="pilot-info">
						<div class="pilot-info__img">
							<img data-src="img/media/pilot.png" alt="Пилот гидросамолета Б.А. Николаев" class="lazy">
						</div>
						<div class="pilot-info__name">Пилот гидросамолета Б.А. Николаев</div>
						<div class="pilot-info__desc">
							Получил летную подготовку в одной из лучших летных школ США, имеет большой опыт полетов на самолете данного типа.
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<ul class="pdf-list">
						<li class="item">
							<a href="" class="pdf-link" download>
								<span class="pdf-link__icon">
									<svg width="48px" height="60px" class="icon-file">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#file"></use>
									</svg>
								</span>
								<span class="pdf-link__text">
									Свидетельство летной годности на гидросамолет lake renegade 250
								</span>
							</a>
						</li>

						<li class="item">
							<a href="" class="pdf-link" download>
								<span class="pdf-link__icon">
									<svg width="48px" height="60px" class="icon-file">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#file"></use>
									</svg>
								</span>
								<span class="pdf-link__text">
									ДИПЛОМ ФЛА 2018.pdf
								</span>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>

		<a href="#sign-up-modal" class="btn btn--full" uk-toggle>заказать полет</a>

	</div>
</section>
<!-- end plain-section -->
