<!-- begin plan-voyage -->
<section id="desc" class="plan-voyage">
	<div class="uk-container uk-container--lg">
		<div class="plan-voyage__inner lazy" data-src="/img/media/moscow.svg">
			<h2>Полет на гидросамолете
				<span class="text-stroke-white">в Москве</span>
			</h2>

			<ul class="advantages-list uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>

				<li class="advantages-list__item">
					<div class="advantages-list__item-inner">
						<div class="advantages-list__item-img">
							<svg width="86px" height="91px" class="icon-metro">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#metro"></use>
							</svg>
						</div>
						<div class="advantages-list__item-text">
							В 10 минутах пешком от станции метро «Алма-Атинская»  в парке «Братеевская пойма»
						</div>
					</div>
				</li>

				<li class="advantages-list__item">
					<div class="advantages-list__item-inner">
						<div class="advantages-list__item-img">
							<svg width="71px" height="71px" class="icon-parking">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#parking"></use>
							</svg>
						</div>
						<div class="advantages-list__item-text">
							В 3-х минутах пешком от ближайшей автомобильной стоянки
						</div>
					</div>
				</li>

				<li class="advantages-list__item">
					<div class="advantages-list__item-inner">
						<div class="advantages-list__item-img">
							<svg width="95px" height="67px" class="icon-pilot">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#pilot"></use>
							</svg>
						</div>
						<div class="advantages-list__item-text">
							Возможность пилотирования самолета на месте второго пилота
						</div>
					</div>
				</li>

				<li class="advantages-list__item">
					<div class="advantages-list__item-inner">
						<div class="advantages-list__item-img">
							<svg width="80px" height="88px" class="icon-video">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#video"></use>
							</svg>
						</div>
						<div class="advantages-list__item-text">
							Участникам полета будет отправлена полная видеосъемка их полета, записанная на камеру GoPro
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
</section>
<!-- end plan-voyage -->
