<div class="price-list">
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-1-3@m">
			<a href="#sign-up-modal" class="price-list__item" uk-toggle>
				<span class="price-list__item-value">9 000 ₽</span>
				<span class="price-list__item-text">для взрослых</span>
			</a>
		</div>
		<div class="uk-width-1-3@m">
			<a href="#sign-up-modal" class="price-list__item" uk-toggle>
				<span class="price-list__item-value">6 000 ₽</span>
				<span class="price-list__item-text">для подростков младше 16 лет*</span>
			</a>
		</div>
		<div class="uk-width-1-3@m">
			<a href="#sign-up-modal" class="price-list__item" uk-toggle>
				<span class="price-list__item-value">Бесплатно</span>
				<span class="price-list__item-text">для детей младше 3-х лет*</span>
			</a>
		</div>
		<div class="uk-width-1-1">
			<div class="price-list__text">
				<a href="#sign-up-modal" class="btn btn--full" uk-toggle>заказать полет</a>
				<p>
					Мы свяжемся с вами и договоримся о времени полета. Полеты планируются по субботам при условии летной погоды. 
																																																		Памятные фотографии о вашем необычном путешествии пришлем на указанную вами электронную почту или WhatsApp.
				</p>
				<div class="subtext">* Дети и подростки до 18 лет допускаются только вместе с сопровождающими взрослыми.</div>
			</div>
		</div>
	</div>
</div>
