<!-- begin slider-voyage-section -->
<section class="slider-voyage-section">
	<div class="uk-container">
		<div class="title-h2">ПЛАН ОЗНАКОМИТЕЛЬНОГО ПОЛЕТА
			<span class="text-stroke-blue">15,4 км</span>
		</div>
	</div>
	<div class="uk-container uk-container--xlg">
		{% include "./slider-voyage.twig" %}
		<a href="#map" class="big-round-link" uk-scroll>Посмотреть траекторию полета на карте</a>
	</div>
</section>
<!-- end slider-voyage-section -->
