<div class="slider-voyage">
	<div class="slider">
		<div class="slide">
			<div class="slide__dotted"></div>
			<div class="slide__content">
				<div class="slide__step">шаг 1</div>
				<div class="slide__desc">
					Предполетный инструктаж перед полетом и посадка в гидросамолет
				</div>
				<div class="slide__img">
					<img src="img/media/sliders/voyage-1.png" alt="">
				</div>
			</div>
		</div>

		<div class="slide">
			<div class="slide__dotted"></div>
			<div class="slide__content">
				<div class="slide__step">шаг 2</div>
				<div class="slide__desc">
					Глиссирование по Москва-реке до места взлета вблизи Бесединского моста
				</div>
				<div class="slide__img">
					<img src="https://via.placeholder.com/1000x600" alt="">
				</div>
			</div>
		</div>

		<div class="slide">
			<div class="slide__dotted"></div>
			<div class="slide__content">
				<div class="slide__step">шаг 3</div>
				<div class="slide__desc">
					Взлет с воды и полет продолжительностью 30 минут над руслом Москва-реки, 
																																прилегающими к руслу живописными природными зонами
				</div>
				<div class="slide__img">
					<img src="img/media/sliders/voyage-3.png" alt="">
				</div>
			</div>
		</div>

		<div class="slide">
			<div class="slide__dotted"></div>
			<div class="slide__content">
				<div class="slide__step">шаг 4</div>
				<div class="slide__desc">
					Участие в пилотировании самолета одним из участников, находящимся на месте второго пилота. 
																																Фото и видео съемка живописных окрестностей
				</div>
				<div class="slide__img">
					<img src="img/media/sliders/voyage-4.png" alt="">
				</div>
			</div>
		</div>

	</div>
</div>
