.faq-section {
	margin-bottom: 60px;
	@media (min-width: $mob-s) {
		margin-bottom: 100px;
	}
	@media (min-width: $tablet-w) {
		margin-bottom: 120px;
	}
	@media (min-width: $desk-w) {
		margin-bottom: 160px;
	}
	.title-h4 {
		margin-bottom: 34px;
	}
}
