.instagram-section {
	padding-top: 120px;
	@media (min-width: $tablet-w) {
		padding-top: 160px;
	}
	.link-wrapper {
		height: 100%;
		align-items: flex-end;
		justify-content: flex-end;
		@media (min-width: $mob-xs) {
			padding-top: 20px;
		}
		@media (min-width: $tablet-w) {
			padding-top: 0;
		}
	}
}
