.top-banner {
	position: relative;
	z-index: 20;
	.title-h1 {
		position: relative;
		color: $white;
		z-index: 10;
		@media (min-width: $mob-xs) {
			margin-bottom: 40px;
		}
		@media (min-width: $desk-w) {
			margin-bottom: 80px;
		}
		@media (min-width: 1366px) {
			margin-bottom: 0;
		}
	}
}

.route-img {
	position: relative;
	transform: translate(10px, 12px);
	z-index: 9;
	@media (min-width: $mob-xs) {
		display: none;
	}
	@media (min-width: 1366px) {
		display: block;
	}
	&__map {
		width: 0;
		overflow: hidden;
		transition: width 3.5s ease;
		&.active {
			width: 100%;
		}
		svg {
			min-width: 1226px;
		}
	}
}

.scroll-img {
	position: absolute;
	top: -130px;
	right: -20px;
	opacity: 0;
	transition: opacity 0.3s ease;
	&.active {
		opacity: 1;
	}
	svg {
		min-width: none;
	}
}
