a:not([class]) {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 22px;
	color: $lightBlue;
	text-decoration: none;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -1px;
		display: block;
		width: 0;
		height: 1px;
		background: $lightBlue;
		transition: width 0.3s ease;
	}
	&:hover {
		color: $lightBlue;
		text-decoration: none;
		&:after {
			width: 100%;
		}
	}
}

.pdf-link {
	display: flex;
	align-items: center;
	&:hover {
		text-decoration: none;
	}
	&__icon {
		margin-right: 40px;
		flex-shrink: 0;
		flex-basis: 48px;
	}
	&__text {
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		text-transform: uppercase;
	}
}

.link-wrapper {
	display: flex;
}

.inst-link-subscribe {
	display: block;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: $lightBlue;
	margin-top: auto;
}
