.route-list {
	&__item {
		display: flex;
	}
	&__item-content {
		position: relative;
		padding-top: 55px;
		flex-shrink: 0;
		transition: background-position 1.3s ease;
		flex-basis: calc(100% - 25px);
		overflow: hidden;
		width: 100%;
		color: transparent;
		background-image: linear-gradient(
			to right,
			$white 0%,
			$white 50%,
			transparent 50%
		);
		background-size: 200%;
		background-position: 100%;
		background-clip: text;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: $lightBlue;
		}
		&.text-width {
			background-position: 0;
		}
	}
}
