.slider-voyage {
	.slider {
		.slick-track {
			@media (min-width: $desk-w) {
				padding-bottom: 165px;
			}
		}
		.slick-list {
			margin: 0 -10px;
		}
	}
	.slide {
		margin: 0 20px;
		max-width: 425px;
		outline: none;
		filter: grayscale(100);
		&.slick-current {
			filter: grayscale(0);
			.slide__img {
				&:hover {
					transform: scale(2.1);
					border-radius: 0;
				}
			}
		}
		&:nth-child(even) {
			.slide__desc {
				order: 2;
				margin-bottom: 80px;
			}
			.slide__step {
				order: 1;
			}
			.slide__img {
				order: 3;
			}
		}
		&:nth-child(odd) {
			.slide__desc {
				order: 3;
			}
			.slide__step {
				order: 2;
			}
			.slide__img {
				order: 1;
				margin-bottom: 80px;
			}
		}
		&__dotted {
			position: relative;
			margin-bottom: 45px;
			display: block;
			width: 100%;
			height: 15px;
			overflow: hidden;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 15px;
				height: 15px;
				border: 2px solid $lightBlue;
				border-radius: 50%;
				background-color: #ffffff;
				transition: background-color 0.3s ease;
			}
			&:after {
				content: "";
				position: absolute;
				top: 7px;
				left: 35px;
				padding-left: 20px;
				width: 100%;
				height: 3px;
				border-bottom: 3px dotted $lightBlue;
			}
		}
		&__step {
			width: 100%;
			margin-bottom: 24px;
			font-size: 16px;
			line-height: 16px;
			color: $blue;
			text-transform: uppercase;
			font-weight: 500;
		}
		&__content {
			display: flex;
			flex-wrap: wrap;
		}
		&__img {
			position: relative;
			width: 193px;
			height: 193px;
			border-radius: 50%;
			overflow: hidden;
			transition: transform 0.3s, border-radius 0.3s ease;
			transform-origin: 50% 0;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: 600;
			}
		}
		&__desc {
			max-width: 300px;
		}
	}
}

.video-slider-section {
	.uk-conainer {
		padding: 0;
	}
	.slick-dotted {
		margin-bottom: 0;
	}
}

.video-slider {
	position: relative;
	.slide {
		.youtube {
			position: relative;
			padding-top: 55.6%;
			height: 0;
			min-height: 375px;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				z-index: 11;
			}
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 20;
			}
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				background: $bgBlue;
				opacity: 0.7;
				z-index: 12;
			}
			&__title {
				position: absolute;
				max-width: 780px;
				z-index: 15;
				@media (min-width: $mob-xs) {
					top: 40px;
					left: 20px;
					right: 20px;
				}
				@media (min-width: $mob-s) {
					top: 17%;
					left: 8%;
				}
				@media (min-width: $tablet-w) {
					left: 12%;
				}
				@media (min-width: $desk-w-lg) {
					top: 17%;
					left: 19%;
				}
			}
		}
		.play-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 96px;
			height: 96px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translate(-50%, -50%);
			background: $blue url("../img/icon-svg/youtube.svg") center no-repeat;
			z-index: 16;
			cursor: pointer;
			transition: background-color 0.3s ease;
			&:hover {
				background-color: $lightBlue;
			}
			@media (min-width: $desk-w) {
				width: 140px;
				height: 140px;
			}
		}
	}

	.slick-dots {
		bottom: 45px;
		li {
			&.slick-active {
				button {
					svg {
						stroke-dasharray: 240;
						stroke-dashoffset: 0;
					}
				}
			}
			button {
				position: relative;
				padding: 0;
				svg {
					stroke-dasharray: 480;
					stroke-dashoffset: 480;
					transform: rotate(-275deg);
					transition: stroke-dashoffset 0.45s, stroke-dasharray 0.15s linear;
				}
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					opacity: 1;
					color: $white;
					width: 4px;
					height: 4px;
					font-size: 0;
					display: inline-block;
					border-radius: 50%;
					background: $white;
					z-index: 10;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

.video-slider-arrows-wrapper {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	z-index: 90;
	.slider__arrows {
		.slide-prev,
		.slide-next {
			position: absolute;
			top: 50%;
			height: 314px;
			display: flex;
			align-items: center;
			transform: translateY(-50%);
			z-index: 99;
			cursor: pointer;
		}
		.slide-prev {
			left: 0;
			padding-left: 40px;
			&:hover {
				&:before {
					transform: translate(-50%, -50%) scale(2);
				}
			}
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				display: block;
				width: 157px;
				height: 157px;
				border: 1px solid $white;
				border-radius: 50%;
				transform: translate(-50%, -50%) scale(0);
				transition: transform 0.5s ease;
			}
		}

		.slide-next {
			right: 0;
			padding-right: 40px;
			&:hover {
				&:after {
					transform: translate(50%, -50%) scale(2);
				}
			}
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				display: block;
				width: 157px;
				height: 157px;
				border: 1px solid $white;
				border-radius: 50%;
				transform: translate(50%, -50%) scale(0);
				transition: transform 1s ease;
			}
		}
	}
}

.comments-slider {
	overflow: hidden;
	@media (min-width: $desk-w) {
		margin-top: -90px;
	}
	.slider {
		margin-top: 60px;
		margin-bottom: 90px;
		@media (min-width: $desk-w-lg) {
			width: 1280px;
		}
	}
	.slide {
		opacity: 0.5;
		transition: opacity 0.3s ease;
		outline: none;
		@media (min-width: $desk-w) {
			margin: 0 75px;
		}
		&:last-child {
			.slide__img {
				&:after {
					display: none;
				}
			}
		}
		@media (min-width: $tablet-w) {
			width: 770px !important;
		}
		&.slick-current {
			opacity: 1;
		}
		&__img {
			position: relative;
			margin-bottom: 24px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			height: 120px;
			@media (min-width: $tablet-w) {
				justify-content: center;
				height: 310px;
				width: 100%;
			}
			&:after {
				@media (min-width: $desk-w) {
					content: "";
					position: absolute;
					top: 50%;
					left: 100%;
					padding-left: 20px;
					width: 100%;
					height: 1px;
					border: 2px dashed #7abcf0;
					z-index: 999;
					transform: translateX(calc(-50% + 75px));
					max-width: 543px;
				}
			}
			@media (min-width: $tablet-w) {
				margin-bottom: 60px;
				text-align: right;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				display: inline-block;
				max-width: 120px;
				max-height: 120px;
				border-radius: 50%;
				@media (min-width: $tablet-w) {
					max-width: 310px;
					max-height: 310px;
				}
			}
		}
		&__author {
			margin-bottom: 20px;
			font-size: 18px;
			line-height: 22px;
			color: $lightBlue;
			@media (min-width: $tablet-w) {
				margin-bottom: 36px;
			}
		}
		&__message {
			color: $white;
			font-size: 21px;
			line-height: 26px;
			@media (min-width: $tablet-w) {
				font-size: 30px;
				line-height: 36px;
			}
		}
	}

	.slick-arrow {
		width: 116px;
		height: 116px;
		border-radius: 50%;
		border: 1px solid $white;
		z-index: 800;
		&:before {
			display: none;
		}
		&.slick-prev {
			display: none !important;
		}
		&.slick-next {
			background: url("../img/icon-svg/chevron-right.svg") center no-repeat;
			transition: background-color 0.3s ease;
			&:hover {
				background: #ffffff url("../img/icon-svg/chevron-right-blue.svg") center
					no-repeat;
			}
			display: none !important;
			@media (min-width: $tablet-w) {
				display: block !important;
			}
		}
	}
	.slick-dots {
		bottom: -55px;
		li {
			&.slick-active {
				button {
					svg {
						stroke-dasharray: 240;
						stroke-dashoffset: 0;
					}
				}
			}
			button {
				position: relative;
				padding: 0;
				svg {
					stroke-dasharray: 480;
					stroke-dashoffset: 480;
					transform: rotate(-275deg);
					transition: stroke-dashoffset 0.45s, stroke-dasharray 0.15s linear;
				}
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					opacity: 1;
					color: $white;
					width: 4px;
					height: 4px;
					font-size: 0;
					display: inline-block;
					border-radius: 50%;
					background: $white;
					z-index: 10;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}
