.slider-voyage {
	.slider {
		.slick-track {
			@media (min-width: $desk-w) {
				padding-bottom: 165px;
			};
		}
		.slick-list {
			margin: 0 -10px;
		}
	}
	.slide {
		margin: 0 20px;
		max-width: 425px;
		outline: none;
		filter: grayscale(100);
		&.slick-current {
			filter: grayscale(0);
			.slide__img {
				&:hover {
					transform: scale(2.1);
					border-radius: 0;
				}
			}
		}
		&:nth-child(even) {
			.slide__desc {
				order: 2;
				margin-bottom: 80px;
			}
			.slide__step {
				order: 1;
			}
			.slide__img {
				order: 3;
			}
		}
		&:nth-child(odd) {
			.slide__desc {
				order: 3;
			}
			.slide__step {
				order: 2;
			}
			.slide__img {
				order: 1;
				margin-bottom: 80px;
			}
		}
		&__dotted {
			position: relative;
			margin-bottom: 45px;
			display: block;
			width: 100%;
			height: 15px;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 15px;
				height: 15px;
				border: 2px solid $lightBlue;
				border-radius: 50%;
				background-color: #ffffff;
				transition: background-color .3s ease;
			}
			&:after {
				content: '';
				position: absolute;
				top: 7px;
				left: 35px;
				padding-left: 20px;
				width: 100%;
				height: 3px;
				border-bottom: 3px dotted  $lightBlue;
			}
		}
		&__step {
			width: 100%;
			margin-bottom: 24px;
			font-size: 16px;
			line-height: 16px;
			color: $blue;
			text-transform: uppercase;
			font-weight: 500;
		}
		&__content {
			display: flex;
			flex-wrap: wrap;
		}
		&__img {
			position: relative;
			width: 193px;
			height: 193px;
			border-radius: 50%;
			overflow: hidden;
			transition: transform .3s, border-radius .3s ease;
			transform-origin: 50% 0;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: 600;
			}
		}
		&__desc {
			max-width: 300px;
		}
	}
}

.video-slider-section {
	.uk-conainer {
		padding: 0;
	}
}

.video-slider {
	.slide {
		.youtube {
			position: relative;
			padding-top: 55.6%;
			height: 0;
			min-height: 375px;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				z-index: 11;
			}
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 20;
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				background: $bgBlue;
				opacity: 0.7;
				z-index: 12;
			}
			&__title {
				position: absolute;
				top: 17%;
				left: 19%;
				max-width: 780px;
				z-index: 15;
			}
		}
		.play-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 140px;
			height: 140px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translate(-50%, -50%);
			background: $blue url('../img/icon-svg/youtube.svg') center no-repeat;
			z-index: 16;
			cursor: pointer;
		}
	}
}

.video-frame {
	position: relative;
	padding-top: 55.6%;
	height: 0;
	background: $blue;
	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__preview {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title {
		position: absolute;
		top: 17%;
		left: 19%;
		max-width: 780px;
	}
	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 140px;
		height: 140px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translate(-50%, -50%);
	}
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
