{% block content %}

	<section class="section section-1 pp-scrollable">
		<header class="header">
			{% include "./header-fixed.twig" %}
			{% include "../components/video-banner.twig" %}
			{% include "../components/top-banner.twig" %}
			{% include "./offcanvas-menu.twig" %}
		</header>
	</section>

{% endblock %}
