<div class="header-fixed">
	<div class="header-fixed__inner">
			<a href="/" class="logo">
				<img src="img/logo.svg" alt="АБН АЭРО">
			</a>
			<div class="top-bar">
				<a href="tel:+79857656664">+7 (985) 765-66-64</a>
				<a href="#sign-up-modal" class="btn">записаться</a>
				<a href="" toggle="#offcanvas-menu" class="btn-menu">
					<span class="btn-menu__burger">
						<span class="line line--one"></span>
						<span class="line line--two"></span>
					</span>
					меню
				</a>
			</div>
	</div>
</div>
