
<div id="offcanvas-menu" class="uk-offcanvas" uk-offcanvas="flip: true">
	<div class="uk-offcanvas-bar">
	<div class="uk-panel__top uk-flex uk-flex-between uk-flex-middle">
		<a href="tel:+79857656664">+7 (985) 765-66-64</a>
		<a href="#sign-up-modal" class="btn uk-visible@m">записаться</a>
		<a href="" uk-toggle="target: #offcanvas-menu" class="btn-menu active">
			<span class="btn-menu__burger">
				<span class="line line--one"></span>
				<span class="line line--two"></span>
			</span>
			<div class="btn-menu__text">меню</div>
		</a>
	</div>
		<div class="uk-panel">
			<ul class="uk-nav">
				<li><a href="">О нас</a></li>
				<li><a href="">Описание</a></li>
				<li><a href="">План полета</a></li>
				<li><a href="">О самолете</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">Стоимость</a></li>
			</ul>
		</div>
	</div>
</div>
