<div id="offcanvas-menu" class="uk-offcanvas" uk-offcanvas="flip: true">
	<div class="uk-offcanvas-bar">
		<div class="uk-panel__top uk-flex uk-flex-between uk-flex-middle">
			<a href="tel:+79857656664" class="tel">+7 (985) 765-66-64</a>
			<a href="#sign-up-modal" class="btn uk-visible@m" uk-toggle>записаться</a>
			<a href="" uk-toggle="target: #offcanvas-menu" class="btn-menu active">
				<span class="btn-menu__burger">
					<span class="line line--one"></span>
					<span class="line line--two"></span>
				</span>
				<div class="btn-menu__text">меню</div>
			</a>
		</div>
		<div class="uk-panel">
			<ul class="uk-nav">
				<li class="active">
					<a href="#about" data-section="1" class="js__swipe-section">О нас</a>
				</li>
				<li>
					<a href="#desc" data-section="2" class="js__swipe-section">Описание</a>
				</li>
				<li>
					<a href="#plan" data-section="3" data-inner-section="true" class="js__swipe-section">План полета</a>
				</li>
				<li>
					<a href="#plain" data-section="3" data-inner-section="true" class="js__swipe-section">О самолете</a>
				</li>
				<li>
					<a href="#comments" data-section="5" class="js__swipe-section">Отзывы</a>
				</li>
				<li>
					<a href="#price" data-section="6" data-inner-section="true" class="js__swipe-section">Стоимость</a>
				</li>
			</ul>
		</div>
	</div>
</div>
