<div id="offcanvas-menu" class="uk-offcanvas" uk-offcanvas="flip: true">
	<div class="uk-offcanvas-bar">
		<div class="uk-panel__top uk-flex uk-flex-between uk-flex-middle">
			<a href="tel:+79857656664">+7 (985) 765-66-64</a>
			<a href="#sign-up-modal" class="btn uk-visible@m">записаться</a>
			<a href="" uk-toggle="target: #offcanvas-menu" class="btn-menu active">
				<span class="btn-menu__burger">
					<span class="line line--one"></span>
					<span class="line line--two"></span>
				</span>
				<div class="btn-menu__text">меню</div>
			</a>
		</div>
		<div class="uk-panel">
			<ul id="menu" class="uk-nav">
				<li data-menuanchor="section-1" class="active">
					<a href="#section-1">О нас</a>
				</li>
				<li data-menuanchor="desc">
					<a href="#desc">Описание</a>
				</li>
				<li data-menuanchor="plan">
					<a href="#plan">План полета</a>
				</li>
				<li data-menuanchor="plain">
					<a href="#plain">О самолете</a>
				</li>
				<li data-menuanchor="comments">
					<a href="#comments">Отзывы</a>
				</li>
				<li data-menuanchor="price">
					<a href="#price">Стоимость</a>
				</li>
			</ul>
		</div>
	</div>
</div>
