{% block content %}

	<footer class="footer">
		<div class="uk-container uk-container--lg">
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-3-5@m">
					<div class="copyright">© АБН АЭРО. 2020</div>
					<a href="" class="politics">Политика конфиденциальности</a>
					<div class="cookie-rules">
						Оставаясь на сайте, вы даете согласие на обработку файлов cookie и пользовательских 
																																																								данных в целях функционирования сайта, проведения статистических исследований и рекламы. 
																																																								По вопросам, связанным с использованием ваших персональных данных, обращайтесь на
						<a href="mailto:info@abn.aero">info@abn.aero</a>
					</div>
				</div>
				<div class="uk-width-2-5@m">
					<a href="/" class="logo uk-visible@m">
						<img src="img/logo-blue.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</footer>

{% endblock %}
